.App {
  background-color: #f4f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}


.App-title-text {
  text-align: center;

  width: 80%;
  padding-top: 5vh;
  padding-bottom: 0;
}
.App-title-text > h1,
h5 {
  padding: 0 auto;
}

.App-link {
  color: #61dafb;
}

.App-desc {
  font-size: 0.7vw;
  text-align: left;
  margin: 0vh auto;
  color: #777;
  width: 60%;
}

.App-foot {
  font-size: 0.7vw;
  text-align: center;
  margin: 0vh auto;
  color: #777;
  width: 60%;
}

.App-desc-Att{
  font-size: 0.8vw;
}

.App-author {
  margin: 1vh 2vw;
}
.App-sns {
  width: 60%;
  text-align: right;
  margin: 1vh 2vw;
}

.accordion__title {
  width: initial !important;
  box-sizing: border-box;
  height: 6vh;
  padding: 4px !important;
  display: flex;
  align-items: center;
  background-color: #cacaca !important;
}

.accordion__item {
  position: relative;
  background-color: #fff;
}
.accordion__arrow {
  display: inline-block;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 3vh !important;
  right: 15px !important;
  margin-top: -6px;
}

.App-loadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  width: 60%;
  box-sizing: border-box;
}

.load-button {
  border-radius: 4px;
  border: none;
  padding: 2px 16px;
  color: #303030;
  background: #ced0d3;
  font-size: calc(7px + 2vmin);
  box-sizing: border-box;
  margin:0 10% 0 10%;
  width: 100%;
}
.load-button:hover {
  background: #e6e5e3;
}

.save-button-icon {
  width: 32px;
  padding-right:20%;
}
.save-button-desc {
  text-align: left;
}

.App-loading {
  box-sizing: border-box;
  margin:0 10% 0 10%;
  width: 100%;
  padding: 30px;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  width: 30%;
  padding: 0.3vw;
  border: 1px solid #ccc;
  background-color: #ddd;
}

td {
  width: 70%;
  padding: 0.3vw;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 0.6vw;
}

.save-button {
  border-radius: 4px;
  border: none;
  padding: 2px 16px;
  color: #303030;
  background: #ced0d3;
  font-size: calc(7px + 2vmin);
  box-sizing: border-box;
  margin:0 10% 0 10%;
  width: 100%;
}

.save-button-body {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  width: 30%;
  height: 40px;
}

.save-button-body > span{
  display: flex;
}

.save-button > img {
  padding: 10px 10px;
}

.save-button:hover {
  background: #e6e5e3;
}

.App-listHeader{
  width: 80%;
  padding: 1vh;
  box-sizing: border-box;
  font-family: "Sofia Pro", sans-serif;
  font-size:2vh;
}